$base-menu-width: 300px;
$base-tabbar-height: 90px;
$base-menu-bg-color: #2a3b8f;
$base-tabbar-bg-color: #935b83;
$base-main-bg-color: #eff3ff;
//logo高度
$base-logo-height: 50px;
//全局滚动条
$scrollbar-track-bg-color: #f5f5f5;
$scrollbar-thumb-bg-color: #a09494;
$hover-scrollbar-bg-color: #454545;
